.FileDetails {
  padding: 20px;
  color: #30180a;
  text-align: center;
  text-transform: capitalize;
  position: relative;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  h1 {
    border-bottom: 1px solid #a25127;
  }

  li {
    list-style: none;
    position: absolute;

    &:first-child {
     left: 10px;
     top: 10px;
    }

    &:last-child {
      right: 10px;
      top: 10px;
    }
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 18px;
    }

    li {
      font-size: 14px;
    }
  }
}