.Files {
  padding: 200px 100px;
  background: #fff3ed;
  position: relative;

  @media (max-width: 800px) {
    padding: 150px 50px;
  }
}

.playIcon {
  margin-left: 10px;
  transform: translateY(10px);
}