.Button {
  display: block;
  color: white;
  font-weight: bold;
  font: inherit;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.full {
  background:linear-gradient(to right bottom, #1B0D05, #EF773A);
}

.ghost {
  color: #a25127;
  border: 2px solid #a25127;
}

.details {
  @extend .ghost;
  border-radius: 0 5px 5px 0;
  border-width: 1px;
  float: right;
  padding: 6px;
  transition: all .3s;

  &:hover {
    transform: scale(1.03); 
  }
}

.topbarRunBtn {
  @extend .full;
  line-height: 0;
}