.Modal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
}

.content {
  width: 70%;
  max-width: 1000px;
  background: #fff;
  border-radius: 5px;
  position: fixed;
  top: 50px;
  left: 15%;
  z-index: 100;
}

.backdrop {
  width: 100%;
  min-height: 100%;
  background: rgba(#000, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}