.Topbar {
  width: 100%;
  height: 60px;
  background: #fffbf2;
  background: linear-gradient(to top,  rgb(156, 101, 75),  #fffbf2);
  line-height: 60px;
  color: #30180A;
  text-shadow: 1px 1px 3px rgba( rgb(116, 58, 30), 1);
  padding: 0 35px;

  @media (max-width: 450px) {
    height: 30px;
    line-height: 30px;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
  h1 {
    float: left;

    @media (max-width: 450px) {
      font-size: 18px;
    }
  }
  
  nav {
    float: right;
  }
  
  li {
    float: left;
    margin: 10px;
    list-style: none;
  }
  
  a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    line-height: 16px;
    padding-bottom: 5px;
    position: relative;
    transition: all .3s;

    @media (max-width: 450Px) {
      top: -10px;
    }
  
    &:hover {
      transform: translateY(-2px);
    }
  
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -2px;
      left: 0;
      background: #30180A;;
      visibility: visible;
      transform: scaleX(0);
      transition: all .3s;
    }
  
    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
  
  hr {
    border: none;
    height: 3px;
    background:linear-gradient(to right bottom, #EF773A, #1B0D05);
    transform: translateY(-20px) scaleX(1.052);
    clear: both;
  }
}

.filesComponent {
  @extend .Topbar;
  width: 100%;
  margin-bottom: 50px;
  padding: 0 100px;
  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: 800px) {
    padding: 0 50px;
  }

  @media (max-width: 650px) {
    h1 {
      display: none;
    }

    nav {
      width: 100%;

      
    }

    li:first-Child {
      float: left;
    }

    li:last-child {
      float: right;
    }
  }

  @media (max-width: 450px) {
    height: 60px;
    nav {
      font-size: 14px;
    }

    hr {
      display: none;
    }
  }
}