.Sidebar {
  width: 20%;
  height: 100%;
  background:linear-gradient(to right bottom, #1B0D05, #83411F);
  color: hsla(60, 56%, 91%, .6);
  text-align: center;
  padding-top: 50px;
  float: left;

  @media (max-width: 700px) {
    display: none;
  }

  .filenamesList {
    margin-top: 25px;
  }

  .filename {
    list-style: none;
    text-transform: capitalize;
    margin-bottom: 7px;
    cursor: pointer;

    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      border-bottom: 2px solid transparent;
      transition: all .3s;
      
      &:hover {
        color: lighten(#f5f5dc, 2%);
        border-color:#f5f5dc;
      }
      
    }
  }
}